.message-container{
    margin-left: -2rem;
display:flex;
flex-direction: column;
}

.message{
    color:rgb(91, 75, 102);
    font-size: .8rem;
    margin: 0 auto;
    font-weight: bold;
    padding-top: 20px;
}

.instruction{
    color:rgb(91, 75, 102);
    font-size: .7rem;
    margin: 0 auto;
    padding-top: 10px;
}